body {
   background-color: #ccc;
   padding: 1em;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
   background-color: white;
   width: fit-content;
   border-radius: 15px;
   padding: 0.1em 1em 1em 1em;
   margin: 0.5em;
}

h1 {
   text-align: center;
}

p {
   font-size: 21px;
}

.m-ou-f {
   display: flex;
   justify-content: space-around;
   padding-top: 0.5em;
   margin-bottom: 1.5em;
}

.ex18-m-ou-f {
   margin: 0 auto;
   margin-bottom: 1.5em;
}

#opiniao {
   padding-top: 0.5em;
}

.centraliza {
   text-align: center;
}

.caixa {
   width: 3.2em;
   height: 3.2em;
}

.coluna {
   display: flex;
   flex-direction: column;
   gap: 6px;
}

.imagem {
   width: 15em;
}

#resultado {
   width: auto;
}

.texto-destaque {
   color: blue;
   text-decoration: underline;
}

#ex45-formata-lista {
   display: flex;
   justify-content: space-between;
}

.ex45-formata-ul {
   display: grid;
   gap: 1em;
   list-style-type: none;
   padding-left: 0.5em;
   padding-right: 0.5em;
}

.ex45 input {
   width: 110px;
}

.select {
   max-width: 338px;
}